<div id="<%= dom_id score %>">
  <p>
    <strong>Round:</strong>
    <%= score.round_id %>
  </p>

  <p>
    <strong>Estimated score (not including banker deductions):</strong>
    $<%= score.total_score %>
  </p>
</div>
