<div class="row row-cols-1 row-cols-md-1 g-4">
  <% if games.empty? %>
    <div class="col">
      <div class="alert alert-info fade show mt-1" role="alert">
        <% if @query %>
          No games found for "<%= @query %>"
        <% else %>
          No games have been created yet
        <% end %>
      </div>
    </div>
  <% else %>
    <% games.each do |game| %>
      <div class="col">
        <%= render partial: "game_card", locals: { game: game } %>
      </div>
    <% end %>
  <% end %>
</div>
